include *.TXT
include *.py
include *.rst
include tox.ini

exclude *.cfg
include buildout.cfg

exclude MANIFEST.in

include *.yml
exclude *.yml

include .gitignore
exclude .gitignore

recursive-include src *.zcml
