include *.TXT
include *.py
include *.rst
include pytest.ini
include .coveragerc

exclude *.cfg
include buildout.cfg

exclude MANIFEST.in

include *.yml
exclude *.yml

include .hgignore
exclude .hgignore

include .hgtags
exclude .hgtags

recursive-include src *.zcml
